@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=Roboto&display=swap');


/* *VARIABLES AND FONTS* */


:root{
    /* --font-family: 'Manrope', sans-serif; */
    --font-family: 'Manrope', sans-serif;
    
    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    
    --color-bg: #040C18;
    --color-footer : #031B34;
    --color-blog: #2b006c;
    --color-text: #81AFDD;
    --color-subtext: #FF8A71;
    
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    scroll-behavior: smooth;
}



/* *RAW CLASSES* */
.gradientBg{
    
    background:-moz-radial-gradient(circle at 3% 25%, rgb(68, 0, 82,1) 0%, rgba(4, 12, 24, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(68, 0, 82,1) 0%, rgba(4, 12, 24, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(68, 0, 82,1) 0%, rgba(4, 12, 24, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(68, 0, 82,1) 0%, rgba(4, 12, 24, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgb(68, 0, 82) 0%, rgba(4, 12, 24, 1) 100%);
}
.gradientBg2{
    
    background:-moz-radial-gradient(circle at 3% 25%, rgb(30, 0, 82) 0%, rgba(4, 12, 24, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(68, 0, 82,1) 0%, rgba(4, 12, 24, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(68, 0, 82,1) 0%, rgba(4, 12, 24, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(68, 0, 82,1) 0%, rgba(4, 12, 24, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgb(12, 0, 82) 0%, rgba(4, 12, 24, 1) 100%);
}

.gradientText{
    /* font-family: var(--font-family); */
      background:var(--gradient-text);
      background-clip:text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }


.sectioPadding{
    padding: 4rem 6rem;
}
.sectionMargin{
    margin: 4rem 6rem;
}



/* *NAVBAR CSS* */
body{
    background-color: #020A32;
}
.appNavbar{
    

    overflow-x: hidden;

     z-index:99;
     display:flex;
     justify-content: center;
     align-items: center;
     padding: 1.6rem 6rem;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    
    .appNavbarLinks{
        
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }
    
    
    .appNavbarLinks_logo {
     display: flex;
         
    }
    .appNavbarLinks_logo img{
      align-items: center;
      justify-content: center;
         
    }
    
    .appNavbarLinks_container{
        display: flex;
        flex-direction: row ;
        
    }
    .appNavbar-sign{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    .appNavbarLinks_container p,
    .appNavbar-sign p,
    
    
    
    
    

    .wrapper {
        display: flex;
        justify-content: center;
      }
      
      .cta {
          display: flex;
          padding: 6px 30px;
          text-decoration: none;
          font-family:'Manrope', sans-serif;
          font-weight: 700;
          font-size: 20px;
          color: white;
          background: #6225E6;
          transition: 1s;
          box-shadow: 6px 6px 0 black;
          transform: skewX(-15deg);
      }
      
      .cta:focus {
         outline: none; 
      }
      
      .cta:hover {
          transition: 0.5s;
          box-shadow: 10px 10px 0 #f37932;
      }
      
      .cta span:nth-child(2) {
          transition: 0.5s;
          margin-right: 0px;
      }
      
      .cta:hover  span:nth-child(2) {
          transition: 0.5s;
          margin-right: 45px;
      }
      
        span {
          transform: skewX(15deg) 
        }
      
        span:nth-child(2) {
        
          width: 10px;
          margin-left: 10px;
          position: relative;
          top: 12%;
        }
        
  
      
      path.one {
          transition: 0.4s;
          transform: translateX(-60%);
      }
      
      path.two {
          transition: 0.5s;
          transform: translateX(-30%);
      }
      
      .cta:hover path.three {
          animation: color_anim 1s infinite 0.2s;
      }
      
      .cta:hover path.one {
          transform: translateX(0%);
          animation: color_anim 1s infinite 0.6s;
      }
      
      .cta:hover path.two {
          transform: translateX(0%);
          animation: color_anim 1s infinite 0.4s;
      }
      
      /* SVG animations */
      
      @keyframes color_anim {
          0% {
              fill: white;
          }
          50% {
              fill: #FBC638;
          }
          100% {
              fill: white;
          }
      }
    
    /*  */
    
    
    @media screen and (max-width: 1100px){
        .appNavbarLinks_container{
            display:none;
        }
        .appNavbar-menu{
            display: flex;
        }
    
    }
        
    @media screen and (max-width: 750px){
        .appNavbar{
            padding: 2rem 4rem;
        }
    
    }
        
    @media screen and (max-width: 550px){
        .appNavbar{
            padding: 2rem ;
        }
    
        .appNavbar-sign{
            display: none;
        }
    
        .appNavbar-menu_container{
            top: 20px;
            /* top: 20px; */
        }
    .appNavbar-menu_containerLinks-sign{
        display: block;
    }
    }
    
        
/* *NAVBAR CSS END* */



/* *HEADER CSS* -------------------------------*/


.appHeader {
    display: flex;
    /* position: relative; */
    flex-direction: column;
    /* background-image: url("./assets/fallinmony.png"); */
    /* background-image: url("./assets/backg.jpg"); */
    /* background-image: url("./assets/pingi1.png"); */
    /* background-image: url("./assets/backheader.png"); */
    background-image: url("./assets/backheader.png");
    /* background-image: url("./assets/newback5.png"); */
    background-size: 1520px;
    justify-content: center;
    align-items: center;
    
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
   
}

.appHeaderRocketContainer{
    display: inline;
}

#byext{
    font-size: 30px;
}


#appHeaderFirstText{
    margin-top: 30px;
    font-weight: 700;
    background: linear-gradient(
        to right,
        #7953cd 20%,
        #fab700 30%,
        #0190cd 70%,
        #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 2s ease-in infinite alternate;
   
    font-size: 40px;
    line-height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
   
    /* border: 1px solid #ffffff ; */
    
    
    
}


  
  
  .arrow:before {
    position: absolute;
    left: 50%;
  }
  
  .arrow {
    width: 40px;
    height: 40px;
    top: 50%;
    margin: -20px 0 0 -20px;
    -webkit-transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 3px #fff solid;
    border-bottom: 3px #fff solid;
  }
  
  .arrow:before {
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
  }
  
  @keyframes arrow {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(-10px, -10px);
    }
  }


@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}



#appHeaderSecondText{
    background: linear-gradient(
        to right,
        #7953cd 20%,
        #fab700 30%,
        #0190cd 70%,
        #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 2s ease-in infinite alternate;
    margin-bottom: 30px;
    line-height: 48px;
    font-weight: 600;
    font-size: 30px;
}



/* border tex header */
#appHeaderMainText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 58px;
    margin-bottom: 10px;
    /* display: flex;
    margin: 2rem auto;
    max-width: 770px;
    position: relative;
   border: 7px solid rgb(105, 12, 255);
    padding: 1rem; */
/* background-image: url(./assets/gifback.gif); */
/* background-image: url(./assets/gifbackdf.gif);
    position: relative;
    border-radius: 2px;
    margin-bottom: 50px;
    box-shadow: 0 0 50px 1px #583961; */

  }
  
  #appHeaderMainText:before {
    content: "";
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0; 
    background: hsla(0, 0%, 8%, 0.1);
    pointer-events: none;
  } 
  
  #appHeaderMainText p{
    margin: 0;
  }
  
  #appHeaderRocket{
    font-size: 60px;
  }
 /* - */

/* appheaderanimated logo */

/* .appHeaderRocketImage{
position: absolute;
height: 380px;
left: 960px;
z-index: 999;
} */
.appHeaderRocketImage{
position: absolute;
height: 300px;
left: 620px;
top: -40px;
z-index: 999;
}
.appHeaderStarImage{
position: absolute;
height: 30px;
left: 630px;
bottom: 130px;
z-index: 999;
}
.appHeaderStarImage2{
position: absolute;
height: 20px;
left: 608px;
bottom:105px ;
z-index: 999;
}


.appHeaderRocketImage img{
    width: 100%;
}
.appHeaderStarImage img{
    width: 100%;
}
.appHeaderStarImage2 img{
    width: 100%;
}


.appHeaderCursor img{
    width: 100%;
    height: 180px;
}
.appHeaderCursor{
    position: absolute;
    top: 34px;
    left: 570px;
   
    
}







 
 





.bordered{
    --x: 50%;
	--y: 50%;
	
	position: relative;
	appearance: none;
	padding: 1em 2em;
	color: white;
	
	outline: none;
	border-radius: 100px;
	
	
	border: 2px solid transparent;
	background: linear-gradient(#000, #000) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #00C9A7, #845EC2) border-box;
}


.unlimited{
    margin-top: 20px;
    position: relative;
    margin-right: 50px;
    position: relative;
    height: 330px;
    
}
.unlimited img{
    height:600px;
    cursor: pointer;
    position: relative;
    bottom: 240px;
    left: 180px;
 
}





.appHeader-content {
    /* margin-top: 150px; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.appHeader-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 58px;
    line-height: 60px;
    letter-spacing: -0.04em;
}
.appHeader-content span {
    color: wheat;
    text-decoration: underline;
    text-decoration-color: white;
   
           
}

.appHeader-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 28px;
    color: var(--color-text);
    margin-top: 0.4rem;
    margin-top: 0.4rem;
}

.appHeader-content__input {
    width: 100%;
    margin: 2rem 0 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.appHeader-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.appHeader-content__input button {
   
    width: 610px;
    height: 80px;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 40px;
    line-height: 28px;
    background: rgb(255, 102, 0);
    border: none;
    padding: 0 0.5rem;
    color: #fff;
    cursor: pointer;
    outline: none;
   transition-duration: 1s;
}



.appHeader-content__input button:hover {
    
    background: rgb(174, 0, 255);
    
;

   
}

.appHeader-content__people {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 1 rem;
    
}



.appHeader-content__people img {
    width: 181.79px;
    height: 38px;
}

.appHeader-content__people p {
    margin: 0 0 0 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 38px;
    color: #fff;
    text-align: center;
}




.appHeader-image {
   
    padding-top: 30px;
    padding-right: 65px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.appHeader-image img {
    
    width: 100%;
    height: 100%;
    
}





iframe {
        --x: 50%;
        --y: 50%;
	
	position: relative;
	appearance: none;
	padding: 0.1rem 0.1rem;
	color: white;
	cursor: pointer;
	outline: none;
	border-radius: 50px;
	
	
	border: 4px solid transparent;
	background: linear-gradient(#000, #000) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #00C9A7, #845EC2) border-box;
}












@media screen and (max-width: 1400px) {
    .appHeader-image img {
        height: max-content;
    }
}





@media screen and (max-width: 1270px) {
    .appHeader {
        flex-direction: column;
    }

    .appHeader-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .appHeader-content h1 {
        font-size: 14px;
        line-height: 60px;
    }

    .appHeader-content p {
        font-size: 16px;
        line-height: 24px;
    }
    
    .appHeader-content__people {
        flex-direction: column;
    }

    .appHeader-content__people p {
        margin: 0;
    }

    .appHeader-content__input input,
    .appHeader-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .appHeader-content h1 {
        font-size: 12px;
        line-height: 10px;
    
    }

    .appHeader-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .appHeader-content__input input,
    .appHeader-content__input button {
        font-size: 12px;
        line-height: 16px;
    }
}






    